footer {

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    color: rgb(39, 137, 212);
  box-shadow:0 0 2px 0.75px rgb(137, 138, 139);
    border-radius: 7px;
    border: 1px solid rgb(226, 238, 242);
    padding: 25px;
    bottom: 0%;
    margin-bottom: -10px;
    margin-top:-10px;
    position: sticky;
    background-color: white;
    height: 50px
}


footer a {
    font-style: none;
    color: rgb(39, 137, 212);

}

.author-name{
    font-size: 15px;
    font-weight:bold;
    margin: 10px;
}
