* {
    -webkit-font-smoothing: antialiased;
}

.navbar-main {
    display: flex;
    flex-direction: row;
    /* position: sticky; this is suppose to maintain the container stuck to thee top but not working */
    /* border-bottom: 1px solid rgb(225, 227, 233); */
    width:100%;
    justify-content: space-evenly;
    position: sticky;
    z-index: 4;
    top: 0px;
    background-color: white;
    border: 1px solid rgb(201, 199, 199);

}

.navbar-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-color: grey; */
    /* border-style: solid; */
    width: 80%;
}


.Home-Container {
    display: flex;
    align-items: center;
    /* margin-left: 8% */
}

.logo {
    max-height: 200px;
    max-width: 200px;
    /* border-color: rgb(255, 0, 144);
    border-style: solid; */
}


.profile-button {
    display: flex;
    justify-self: flex-end;
}



.logged-out-profile-container {
    display: flex;
    justify-content: flex-end;
    /* border-style: solid;
    border-color: green; */
    width: 100%;
}


.Right-Side-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-right: 300px; */
    /* border-color: rgb(255, 0, 144);
    border-style: solid; */
    width: 25%;
    justify-content: flex-end;

}
