.comment-card-main-container{

    margin: 10px;
    /* border: 1px solid rgb(197, 197, 197); */
    border-radius: 20px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.comment-info-top-container {
    /* border: 2px solid red; */
    padding: 10px;

    /* background-color: white; */

}

.comment-title {
    /* background-color: white; */

    font-size: 14px;
    font-weight: bold;

}

.comment-card-content-container {
    font-size: 14px;
    background-color: rgb(218, 222, 222);
    border:none;
    border: none;
    border-radius: 35px;
    padding: 10px 50px;
    max-width:150px;
    word-wrap:break-word;
    /* max-height: 300px; */


}
.comment-card-content-container:hover {
    white-space: normal;
}

.comment-card-container {
    margin: 10px;

}

.comments-browser-cards-container{


   border-radius: 20px;
}

.Edit-Delete-Post-Button{
    border:none;
    background-color: white;
}

.comments-browser-container{
    border: 1px solid grey;
    margin: 2px;
    border-radius: 7px;

}

.post-number-of-comments{
    display: flex;
    color:grey;
    font-weight:bold;
    justify-content: flex-end;
    padding: 10px 20px;
}
