.comment-card-main-container{
    background-color: white;
    margin: 10px;
    /* border: 1px solid rgb(197, 197, 197); */
    border-radius: 7px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.comment-info-top-container {
    /* border: 2px solid red; */
    padding: 10px;
    background-color: white;

}

.comment-title {
    background-color: white;
    font-size: 16px;
    font-weight: bold;

}

.comment-card-content-container {
    font-size: 14px;
    background-color: rgb(228, 224, 224);
    border:none;
    border: none;
    border-radius: 50px;
    padding: 10px 50px;
    max-width:150px;
    word-wrap:break-word;

}

.comment-card-container {
    margin: 10px;
    border: 1px solid green
}

.comments-browser-cards-container{
   background-color: white;
}

.Edit-Delete-Post-Button{
    border:none;
    background-color: white;
}

.comments-browser-container{
    border: 1px solid grey;
    margin: 5px;
    border-radius: 20px;
}
