.homepage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 15%;

}



.new-post-form-component-container{
    display: flex;
    justify-content: center;
    align-self:center;
    /* margin-bottom: 25px; */
    padding:10px;

}

.posts-browser-component-container{
    display: flex;
    justify-content: center;
    align-self:center;
}

.create-post-modal-click-input{
    /* border: 1px solid grey; */
    background-color: rgb(239, 234, 234);
    border-radius: 20px;
    display: flex;
    align-self: center;
    padding: 8px 50px;
    /* margin: 10px;
    font-weight: bold; */
    color:rgb(94, 91, 91);
    /* text-align:center; */
    width: 300px;

}

.create-post-click-container{

  /* border: 1px solid grey; */
  border-radius: 7px;
  padding: 10px;
  display:flex;
  flex-direction: row;
  width: 460px;
  box-shadow:0 0 4px 1.5px rgb(129 161 226);

  }

.create-post-modal-click-post-user-profile-pic{
 width: 45px;
 height:45px;
 border-radius: 50%;
 box-shadow:0 0 4px 1.5px rgb(192, 192, 192);
 display: flex;
 margin: 5px 10px;
  }
