.homepage-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.homepage-left-container {
    background-color: inherit;
    width: 25%;
    margin: 2%;
    padding: 10px;
    /* box-shadow: 0 0 2px 0.75px rgb(129 161 226); */
    border-radius: 14px;
    height: fit-content;

}

.homepage-right-container {
    background-color: inherit;
    width: 25%;
    margin: 2%;
    padding: 10px;
    /* box-shadow: 0 0 2px 0.75px rgb(129 161 226); */
    border-radius: 14px;
    display: flex;
    height: fit-content
}

.homepage-center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 15%;

}



.new-post-form-component-container {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 4%;
    width:100%

}

.posts-browser-component-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

.create-post-modal-click-input {
    background-color: rgb(239, 234, 234);
    border-radius: 20px;
    display: flex;
    align-self: center;
    padding: 8px 50px;
    color: rgb(94, 91, 91);
    width: 100%;

}

.create-post-click-container {

    /* border: 1px solid grey; */
    border-radius: 7px;
    padding: 10px;
    margin: 2%;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0 0 4px 1.5px rgb(129 161 226);

}

.create-post-modal-click-post-user-profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 0 4px 1.5px rgb(192, 192, 192);
    display: flex;
    margin: 5px 10px;
}


.author-bio-info-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center
}

.author-bio-info-links{
    width: 5rem;
    display: flex;
    justify-content: center;
    margin: 20px;
}


.fa-linkedin
{
color:rgb(59, 137, 220);
/* margin: 20px; */
}

.fa-square-github{
    color:black;
    /* margin: 20px; */
}

#appacademylogo {
   background-color: inherit;
    width: 5rem;
    margin: 30px;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%
}

.ads-main-container{
    height: auto;
    width: 100%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black */

}



.ad-card{
    font-size: 1.5rem;
    color: rgb(255, 0, 0);
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12%;
    padding: 2%;
    width: 100%;
    height: auto;
    border-radius: 4%
}

.connect-author-title {
    font-weight: 900;
    font-size: 1.35rem;
    margin: 15px;
    padding: 20px;
    border-bottom: 1px solid rgb(111, 108, 108);
}

.ad-content:link {
    text-decoration: none;
    color: rgb(0, 0, 0)
}

a:visited {
    text-decoration: none;
    color: rgb(150, 15, 15)
}

a:hover {
   color: rgb(93, 93, 148)
}

a:active {
    color:rgb(34, 68, 152)
}


.bold{
    font-weight: bolder;
}

.small{
    font-size: 1.15rem;
}

.ad-content{
    margin: 2%
}


.left-section-content{
    display: flex;

    justify-content: center;
    align-content: center;
}

.connect-author-sections{
    background-color: inherit;
    font-weight: bold;
    display: flex;
}
